@model IrsaWebStore.Models.ViewModel.Cart.CartVM

<a href="/cart/CartWithoutLogin">
    <span class="glyphicon glyphicon-shopping-cart"></span>
</a>

Your cart: @Model.Quantity item(s) - $@Model.Price
<br />
@Html.ActionLink("Checkout", "Index")