@model IEnumerable<IrsaWebStore.Models.ViewModel.Shop.CategoryVM>

<h3>@IrsaWebStore.Resources.GlobalRes.Categories</h3>


<ul>
    @foreach (var item in Model)
    {
        @*<li><a href="/shop/category/@item.Slug.ToLower()">@item.Name</a></li>*@
        <li><a href="/shop/category/@item.Slug.ToLower()">@IrsaWebStore.Resources.GlobalRes.ResourceManager.GetString(item.Slug)</a></li>
    }
</ul>